:root {
  --diamonta-blue: #10051f;
  --diamonta-pink: #e7a4a4;
  --diamonta-purple: rgba(231, 164, 164, 0.22);
  --bs-accordion-btn-color: #e7a4a4 !important;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

body {
  font-family: "Quicksand", "sans-serif";
  background-color: var(--diamonta-blue);
  color: #fff;
}

.navbar-brand {
  font-size: 1.4rem;
  font-family: "Prata", "serif";
}

/* .dropdown:hover .dropdown-menu {
  display: block;
} */

/* #hero {
  max-height: 800px !important;
  overflow: hidden !important;
  min-height: 5rem !important ;
} */

#hero-video {
  width: 100% !important;
  height: 100% !important;
  object-fit: cover !important;
}

/* #hero .position-absolute {
  top: 10% !important;
  z-index: 10;
} */

#rdv:hover {
  color: var(--diamonta-blue);
  border-color: var(--diamonta-pink);
  background-color: var(--diamonta-pink) !important;
}

.btn-diamonta {
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-width: 1px;
  border-radius: 0.375rem;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  cursor: pointer;
}

.btn-diamonta-pink {
  background-color: var(--diamonta-pink) !important;
  color: #111 !important;
}

.btn-outline-diamonta-pink {
  background-color: transparent !important;
  border: 1px solid var(--diamonta-pink) !important;
  border-color: var(--diamonta-pink) !important;
  color: var(--diamonta-pink) !important;
}

.btn-outline-diamonta-pink:hover {
  border-color: #eee !important;
  color: #eee !important;
}

.btn-outline-diamonta-blue {
  background-color: transparent !important;
  border: 1px solid var(--diamonta-blue) !important;
  border-color: var(--diamonta-blue) !important;
  color: var(--diamonta-blue) !important;
}

.btn-diamonta-blue {
  background-color: var(--diamonta-blue) !important;
  color: #eee !important;
}

.bg-diamonta-pink {
  background-color: var(--diamonta-pink) !important;
}

.bg-diamonta-blue {
  background-color: var(--diamonta-blue) !important;
}

.text-diamonta-pink {
  color: var(--diamonta-pink) !important;
}

.text-diamonta-blue {
  color: var(--diamonta-blue) !important;
}

.border-diamonta-pink {
  border-color: var(--diamonta-pink) !important;
}
.border-diamonta-blue {
  border-color: var(--diamonta-blue) !important;
}

.link-diamonta-pink {
  color: var(--diamonta-pink) !important;
}

.link-diamonta-blue {
  color: var(--diamonta-blue) !important;
}

.link-light:hover {
  color: var(--diamonta-pink) !important;
}

.btn-diamonta-pink:hover {
  background-color: #eee !important;
  color: var(--diamonta-blue) !important;
}

.btn-diamonta-blue:hover {
  background-color: #eee !important;
  color: var(--diamonta-blue) !important;
}

.fill-diamonta-pink {
  fill: var(--diamonta-pink) !important;
}

.fill-diamonta-blue {
  fill: var(--diamonta-blue) !important;
}

main {
  min-height: 770px;
}

/* input[type="email"] {
  background-color: #77194a;
  color: #382d52;
} */

#eyeFill {
  position: absolute !important;
  top: 50% !important;
  left: 95% !important;
  transform: translate(-50%, -50%) !important;
}

#eye {
  position: absolute !important;
  top: 55% !important;
  left: 90% !important;
}

#diamondBand img {
  height: 100px !important;
}

#discover .twoStars {
  height: 60px !important;
  width: auto !important;
}

.discover-img {
  height: 300px !important;
  width: 300px !important;
}

.discover-img.bague {
  background: url("../media/img/bague-w-4.svg") no-repeat center center !important;
}

.discover-img.montre {
  background: url("../media/img/montre-w-1.svg") no-repeat center center !important;
}

.discover-img.homme {
  background: url("../media/img/man-1.jpg") no-repeat top 20% center !important;
  background-size: cover !important;
}

.discover-img.collier {
  background: url("../media/img/collier-1.png") no-repeat center center !important;
  background-size: cover !important;
}

#stars-right,
#stars-left {
  height: 300px !important;
  width: 415px !important;
}

#stars-right {
  background: url("../media/img/3stars-right.svg") no-repeat center center !important;
  background-size: cover !important;
}

#stars-left {
  background: url("../media/img/3stars-left.svg") no-repeat center center !important;
  background-size: cover !important;
}

footer {
  height: 500px !important;
  background: url("../media/img/footer-diamonds.png") no-repeat top center !important;
  background-size: cover !important;
}

.material {
  height: 100px !important;
  width: 100px !important;
}

.material.white-gold {
  background: linear-gradient(
    120deg,
    #76777c 0%,
    #e0e3f2 50%,
    #f2f2f2 100%
  ) !important;
}

.material.gold {
  background: linear-gradient(
    120deg,
    #a0703a 0%,
    #ffe1a6 50%,
    #ffe380 100%
  ) !important;
}

.material.pink-gold {
  background: linear-gradient(
    120deg,
    #c28383 0%,
    #edc09f 50%,
    #d8a191 100%
  ) !important;
}

/*  CSS show_product */

.bg-diamonta-purple {
  background-color: var(--diamonta-purple) !important;
}

div.rock:hover {
  border: 1px solid var(--diamonta-pink) !important;
}

div.size > p:hover {
  background-color: var(--diamonta-pink) !important;
}

#addToCartBtn {
  border-top-right-radius: 20px !important;
  border-bottom-left-radius: 20px !important;
  border-bottom-right-radius: 0 !important;
  border-top-left-radius: 0 !important;
}

.accordion-button {
  background-color: var(--diamonta-blue) !important;
  border-color: var(--diamonta-pink) !important;
  border-radius: 0 !important;
}

.bi-plus {
  color: white !important;
  font-size: 2rem !important;
  left: 99% !important;
}

.accordion-button.collapsed {
  color: white !important;
}

.accordion-button.collapsed::after {
  background-image: none !important;
}

.accordion-button:not(.collapsed)::after {
  background-image: none !important;
}

.accordion-button:not(.collapsed) {
  background-image: none !important;
  color: white !important;
  background-color: var(--diamonta-blue) !important;
  border-color: var(--diamonta-pink) !important;
}

.carousel-control-prev,
.carousel-control-next {
  background-color: var(--diamonta-blue) !important;
  width: 50px !important;
  height: 50px !important;
}

.carousel-control-prev:hover,
.carousel-control-next:hover {
  background-color: var(--diamonta-pink) !important;
  color: var(--diamonta-blue) !important;
}

.carousel-control-prev {
  left: -5% !important;
}

.carousel-control-next {
  right: -5% !important;
}
